%br/
.row
  .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-4
    .login-panel.panel.panel-default.loginpanel-margin
      .panel-heading Resend confirmation instructions
      .panel-body
        = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
          = devise_error_messages!
          .field
            = f.label :email
            %br/
            = f.email_field :email, autofocus: true, :class => "form-control", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)
            %br/
          .actions
            = f.submit "Resend confirmation instructions", class: "btn btn-primary"
        = render "devise/shared/links"
